/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html{
    font-size: 16px;
}

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

button,
button:active,
button:focus {
    outline: none;
}

input,
input:active,
input:focus {
    outline: none;
}

/*start section-1*/

#section-1 .logo {
    position: absolute;
    margin-top: 10px;
}

#section-1 .logo img {
    height: 50px;
}

#section-1 .navbar{
    min-height: 90px;
    margin-bottom: 0;
    background: #f2f2f2;
}

#section-1 .navbar-nav {
    float: none;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

#section-1 .navbar-default .navbar-nav > li > a{
    color: #1a1a18;
    padding: 15px 10px;
}

#section-1 .navbar-default .navbar-nav > li > a:hover {
    color: #80ab7b;
    text-decoration: underline;

}

@media screen and (min-width: 750px) and (max-width: 970px){
    #section-1 .navbar-nav {
        text-align: right;
    }
}

#section-1 .navbar-nav li {
    float: none;
    display: inline-block;
}

@media screen and (max-width: 767px){
    #section-1 .navbar-nav li {
        float: none;
        display: block;
    }
}

#section-1 .navbar-toggle{
    margin-top: 20px;
}

/*end section-1*/



/*start section-2*/

#section-2{
    background: url('/img/section/2/icon-section-2.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
}
/*
@media (max-width: 767px){
    #section-2{
        height: 40vh;
    }
}
*/
/*end section-2*/



/*start section-3*/

#section-3{
    margin-top: 25px;
}

/*filter*/

#section-3 .filter h4{
    font-weight: bold;
    margin-bottom: 30px;
}

#section-3 .filter > button{
    transition-duration: 0.2s;
    background: #4a8f41;
    border: none;
    border-bottom: 3px solid #317028;
    color: #fefefe;
    text-align: center;
    height: 39px;
    width: 159px;
    margin-bottom: 30px;
}

#section-3 .filter > button:hover{
    transition-duration: 0.2s;
    background: #5ba852;
    border-bottom: 3px solid #317028;
}

#section-3 .filter-item > button.collapsed > i {
    transform: rotate(-90deg);
}

#section-3 .filter-item{
    color: #8e8e8e;
    font-size: 18px;
}

#section-3 .filter-item button{
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #8e8e8e;
    padding: 10px;
    text-align: left;
}

#section-3 .filter-item button i{
    float: right;
}

#section-3 .filter-item ul{
    list-style-type: none;
    padding-left: 10px;
}

#section-3 .filter-item ul li{
    margin: 5px 0;
}

#section-3 .filter-item input{
    float: left;
    margin-right: 5px;
    height: 19px;
    width: 19px;
}

/*end filter*/

/*sort*/

#section-3 .sort{
    margin-bottom: 2.5rem;
}

#section-3 .sort label{
    font-size: 16px;
    color: #8e8e8e;
    font-weight: 300;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

#section-3 .sort option, #section-3 .sort select{
    font-size: 14px;
    color: #383836;
    font-weight: 300;
}

#section-3 .styled-select {
    background: url(/img/1.png) no-repeat right;
    height: 24px;
    overflow: hidden;
    width: 240px;
}

#section-3 .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 24px;
    width: 268px;
}

#section-3 .white{
    background-color: #fff;
}

#section-3 .sort select{
    border: 1px solid #d0d0d0;
}

/*end sort*/

/*search*/

#search{
    float: right;
}

#search input{
    padding-left: 10px;
    color: #1a1a18;
    height: 24px;
    border: 1px solid #d0d0d0;
    border-right: none;
    font-weight: 300;
}

#search button{
    color: #ffffff;
    width: 24px;
    height: 24px;
    background: #4a8f41;
    border: none;
    padding: 0;
}

/*end search*/

/*goods товары*/

hr {
    margin: 15px;
    border-top: 1px solid #d0d0d0;
}

#goods > div {
    padding: 0;
}

#goods .product-layout{
    background: #ffffff;
    margin: 15px;
}

#goods .product-layout:hover{
    box-shadow:  0 0 10px rgba(26,26,24,0.31);
    transition-duration: 0.2s;
}

#goods .product-layout .image{
    position: relative;
    text-align: center;
}

#goods .product-layout .image .img-responsive{
    display: inline-block;
}


#goods .product-layout .product-button-buy{
    position: absolute;
    background: rgba(74,143,65,.7);
    height: 100%;
    width: 100%;
    line-height: 200px;
    opacity: 0;
    transition-duration: 0.5s;
}

#goods .product-layout:hover .product-button-buy{
    opacity: 1;
    transition-duration: 0.5s;
}

#goods .product-layout .image button{
    border: none;
    background: transparent;
    color: #fff;
}

#goods .caption{
    text-align: center;
    padding: 0 15px 20px;
}

#goods .caption h4{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

#goods .caption h4 a{
    color: #1a1a18;
}

#goods .caption h4 a:hover{
    color: #1a1a18;
}

#goods .caption .price .RecommendedPrice{
    font-size: 14px;
    transition-duration: 0.2s;
}

#goods .caption .price .RecommendedPrice .cost{
    font-size: 16px;
    color: #4a8f41;
}

#goods .caption .price .cost{
    font-size: 16px;
    color: #4a8f41;
}

#goods .product-layout:hover .RecommendedPrice{
    opacity: 0;
}

#goods .caption .price .PriceHover{
    margin-top: -22.85px;
    opacity: 0;
    transition-duration: 0.2s;
}

#goods .product-layout:hover .PriceHover{
    opacity: 1;
    transition-duration: 0.5s;
}

#goods .caption .price .price-tax{
    text-decoration: line-through;
    font-size: 14px;
}

/*end goods*/

/*start pagination*/

#section-3 .pagination{
    margin: 3.125rem 15px 0;
}

#section-3 .pagination li{
    margin: 3.125rem 15px 0;
}

.pagination > li:first-child > a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #4a8f41;
    border-color: #4a8f41;
}

.pagination > li > a{
    color: #3c3739;
    border: 1px solid #d0d0d0;
}

.pagination > li > a:hover{
    color: #3c3739;
    background-color: #f2f2f2;
    border-color: #d0d0d0;
}
/*end section-3*/



/*start section-full*/

#section-full{
    margin-top: 80px;
    background: #ffffff;
    margin-bottom: -40px;
}

.row-flex {
    display: flex;
    /*    flex-flow: row wrap;*/
}

#section-full .slider{
    background: #ffffff;
    margin-right: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
    box-shadow: 0 0 51px rgba(26,26,24,.28);
}

#section-full #gallery_01 img{
    width: calc(20% - 4.2px)
}

.zoomWrapper{
    width: 100% !important;
    height: 400px !important
}

#img_gall_1{
    width: 100% !important;
    height: 400px !important
}

/*
#section-full .slider .zoomWrapper{
    height: 450px;
    width: 100%
}

#section-full .slider #img_gall_1, .zoomContainer{
    height: 450px;
    width: 100%
}
*/

#section-full .content-text{
    background: #ffffff;
    margin-left: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 600;
    box-shadow: 0 0 51px rgba(26,26,24,.28);
    padding: 0 35px;
}

#section-full .content-text h4{
    margin: 30px 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
}

#section-full .full-price{
    font-size: 20px;
    margin-top: 25px;
}

#section-full .content-text .cost{
    font-size: 25px;
    color: #4a8f41;
}

#section-full .content-text button{
    border: none;
    border-bottom: 3px solid #32712a;
    background: #4a8f41;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
    width: 164px;
    height: 53px;
}

/*end section-full*/



/*start section-footer*/

#section-footer{
    background: url(../img/section/bg-section-footer.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    min-height: 250px;
    color: #fff;
}

#section-footer h3{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/*end section-footer*/



/*start 404*/

#section-404{
    background: url(./img/404.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#section-404 .container{
    text-align: center;
}

#section-404 .text{
    color: #fff;
    margin-top: 55vh;
    font-size: 1.875rem;
}

#section-404 .button a{
    margin-top: 2.8rem;
    border: 1px solid #fff;
    width: 26.625rem;
    display: inline-block;
    background: rgba(255,255,255,.19);
    height: 5.75rem;
    font-size: 1.375rem;
    text-transform: uppercase;
    line-height: 5.75rem;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.2s;
}

#section-404 .button a:hover{
    background: rgba(255,255,255,.3);
    transition-duration: 0.2s;
}

/*end 404*/
a{
    color: #1a1a18;
}

body {
    background: #f2f2f2;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.hidden{
    opacity:0;
    display: block !important;
}

.visible{
    opacity:1;
}

a.ref-topmenu{
    position: absolute;
    top: -70px;
}
/*Блок 1 Верхнее меню*/

.logo {
    position: absolute;
    margin-top: 10px;
}

.logo img {
    height: 50px;
}

.navbar{
    min-height: 90px;
    margin-bottom: 0;
    background: #f2f2f2;
}

.navbar-nav {
    float: none;
    text-align: center;
    margin-top: 20px;
}

.navbar-default .navbar-nav > li > a{
    color: #1a1a18;
    padding: 15px 10px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #80ab7b;
    text-decoration: underline;

}

@media screen and (min-width: 750px) and (max-width: 970px){
    .navbar-nav {
        text-align: right;
    }
}

.navbar-nav li {
    float: none;
    display: inline-block;
}

@media screen and (max-width: 767px){
    .navbar-nav li {
        float: none;
        display: block;
    }
}

.navbar-toggle{
    margin-top: 20px;
}

/*Блок 3 Примеры обуви*/

#temp-block-3 {
    margin-top: 30px;
}

#temp-block-3 .content{
    text-align: center;
}

#temp-block-3 .content .block-list{
    width: 100%;
    margin: auto;
}

#temp-block-3 .content .block-list ul{
    padding: 0;
    list-style-type: none;
}

#temp-block-3 .block-list .img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 120px;
    padding: 0;
    background-position: center;
}

#temp-block-3 .block-list .block-1 .img{
    background-image: url("../img/br/br-denvis.png");
}
#temp-block-3 .block-list .block-1:hover .img{
    background-image: url("../img/br/br-denvis-hov.png");
}

#temp-block-3 .block-list .block-2 .img{
    background-image: url("../img/br/br-spotter.png");
}
#temp-block-3 .block-list .block-2:hover .img{
    background-image: url("../img/br/br-spotter-hov.png");
}

#temp-block-3 .block-list .block-3 .img{
    background-image: url("../img/br/br-denvis.png");
}
#temp-block-3 .block-list .block-3:hover .img{
    background-image: url("../img/br/br-denvis-hov.png");
}

#temp-block-3 .block-list .block-4 .img{
    background-image: url("../img/br/br-verdimar.png");
}
#temp-block-3 .block-list .block-4:hover .img{
    background-image: url("../img/br/br-verdimar-hov.png");
}

#temp-block-3 .block-list .block-5 .img{
    background-image: url("../img/br/br-denvis.png");
}
#temp-block-3 .block-list .block-5:hover .img{
    background-image: url("../img/br/br-denvis-hov.png");
}

#temp-block-3 .block-list .img{
    background-size: contain;
}

.catalog-button-margin {
    margin: 50px 0;
    text-align: center;
}

.catalog-button {
    color: #e2e7e2;
    display: inline-block;
    padding: 20px 60px 16px;
    font-size: 22px;
    background: #4a8f41;
    border-bottom: 4px solid #3b8032;
    letter-spacing: 3.19px;
    transition-duration: 0.3s;
}

.catalog-button:hover {
    color: #4a8f41;
    background: #e2e7e2;
    text-decoration: none;
    transition-duration: 0.3s;
}


#temp-block-3 .block-list ul li div {
    padding-top: 20px;
    padding-bottom: 5px;
}

@media screen and (min-width: 1200px){
    #temp-block-3 .block-list .block-shell{
        min-width: 282px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    #temp-block-3 .block-list .block-shell{
        max-height: 220px;
    }
}

/*Блок 4 Denvis описание*/

#temp-block-4 {
    background: url("../img/section/bg-section-4.png") no-repeat;
    color: #f2f2f2;
    position: relative;
    background-size: cover;
    background-position: center;
}

#temp-block-4 h1{
    margin-top: 20px;
    padding-left: 30px;
    font-size: 80px;
    font-weight: bold;
}

#temp-block-4  .description-Denvis{
    background: rgba(39,36,32,.6);
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 20px;
}

@media (max-width: 767px){
    #temp-block-4 h1{
        margin-top: 50px;
        padding-left: 10px;
        font-size: 36px;
        font-weight: bold;
    }
    #temp-block-4  .description-Denvis{
        margin-top: 40px;
        margin-bottom: 120px;
        padding: 10px;
        font-size: 14px;
    }
}

/*Блок 5 Блок с фото*/

#temp-block-5 {
    margin-top: 60px;
}

#temp-block-5 .photo-1 {
    background: url(../img/blockshoes4.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}

#temp-block-5 .photo-2 {
    background: url(../img/blockshoes10.jpg) no-repeat;
    background-size: cover;
    height: 185px;
    margin-bottom: 30px;
}

#temp-block-5 .photo-3 {
    background: url(../img/blockshoes1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 185px;
}

@media (max-width: 767px){
    #temp-block-5 .photo-1, #temp-block-5 .photo-2, #temp-block-5 .photo-3{
        height: 50vw;
    }

    #temp-block-5 .photo-2 {
        margin-top: 30px;
    }
}



#temp-block-9 .content, #temp-block-6 .content{
    text-align: center;
    margin: 60px 0;
}
#temp-block-6 .content h1{
    font-size: 1.1rem;
    line-height: 1.429;
    margin-bottom: 60px;
}
#temp-block-9 .content .block-list, #temp-block-6 .content .block-list{
    width: 100%;
    margin: auto;
}
#temp-block-9 .content .block-list ul, #temp-block-6 .content .block-list ul{
    padding: 0;
    list-style-type: none;
}
#temp-block-9 .content .block-list ul .block-shell, #temp-block-6 .content .block-list ul .block-shell{
    height: 282px;
    padding: 15px;
}
#temp-block-9 .content .block-list ul .block-shell .block, #temp-block-6 .content .block-list ul .block-shell .block{
    height: 100%;
    width: 100%;
    position: relative;
}
#temp-block-9 .content .block-list ul .block-shell .block .inside, #temp-block-6 .content .block-list ul .block-shell .block .inside{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 1rem;
    margin: auto;
    padding: 0 30px;
}
#temp-block-9 .content .block-list ul .block-shell .block .icon, #temp-block-6 .content .block-list ul .block-shell .block .icon{
    top: -40px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
@media screen and (min-width: 1200px){
    #temp-block-9 .block-list .block-shell, #temp-block-6 .block-list .block-shell{
        min-width: 282px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #temp-block-9 .block-list .block-shell, #temp-block-6 .block-list .block-shell{
        max-height: 220px;
    }
}

/*start carousel*/

.carousel{
    margin-top: 90px;
    height: 40vh;
}

.carousel-inner{
    height: 40vh
}


/*end carousel*/

#temp-block-2{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}
#temp-block-2 h1{
    text-align: center;
    font-weight: 600;
    color: #1a1a18;
    width: 100%;
}
#temp-block-6 .content h1 {
    color: rgb(60, 55, 57);
}
#temp-block-6 .content .block-list .block {
    border: 1px solid rgb(60, 55, 57);
}
#temp-block-6 .icon1{
    background-image: url("../img/icon/icon-sec-6-1.png");
}
#temp-block-6 .icon2{
    background-image: url("../img/icon/icon-sec-6-2.png");
}
#temp-block-6 .icon3{
    background-image: url("../img/icon/icon-sec-6-3.png");
}
#temp-block-6 .icon4{
    background-image: url("../img/icon/icon-sec-6-4.png");
}

#temp-block-6 .icon{
    width: 116px;
    height: 86px;
}

#temp-block-7{
    background: url("../img/section/bg-section-7.png");
    background-position: center;
    background-size: cover;
    color: #f2f2f2;
}
#temp-block-7 .module{
    margin: 60px 0;
}
#temp-block-7 .content h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#temp-block-7 .image{
    background-position: center center;
    border-radius: 100%;
    background-size: cover;
    height: 270px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#temp-block-7 .comment{
    padding: 32px 7px 0;
    position: relative;
}
#temp-block-7 .comment .text{
    color: white;
    position: relative;
    line-height: 1.7;
}
#temp-block-7 .comment .quote1, #temp-block-7 .comment .quote2{
    width: 45px;
    height: 32px;
}
#temp-block-7 .comment .quote1{
    background-image: url(../img/quotes1.png);
    float: left;
    margin-right: 10px;
    margin-top: -15px;
}
#temp-block-7 .comment .quote2{
    background-image: url(../img/quotes2.png);
    float: right;
    margin-top: 10px;
}
#temp-block-7 .flexslider{
    margin: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -o-box-shadow: none;
    box-shadow: none;
}
#temp-block-7 .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
#temp-block-7 .flex-control-paging li a.flex-active {
    background: #f2f2f2;
    cursor: default;
}
#temp-block-7 .image-1{
    background-image: url("../img/galygin01.jpg");
}
#temp-block-7 .image-2{
    background-image: url("../img/mirn.jpg");
}
#temp-block-7 .image-3{
    background-image: url("../img/mihalok.jpg");
}
#temp-block-8{
    position: relative;
}
#temp-block-8 #map{
    height: 400px;
    width: 100%;
}
#temp-block-9{
    color: #1a1a18;
}
#temp-block-9 h1{
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 80px;
}
#temp-block-9 .icon1{
    background-image: url("../img/icon/icon-sec-9-1.png");
}
#temp-block-9 .icon2{
    background-image: url("../img/icon/icon-sec-9-2.png");
}
#temp-block-9 .icon3{
    background-image: url("../img/icon/icon-sec-9-3.png");
}
#temp-block-9 .icon4{
    background-image: url("../img/icon/icon-sec-9-4.png");
}
#temp-block-9 .icon{
    height: 86px;
    width: 116px;
}
#temp-block-9 .content .block-list .block {
    border: 1px solid #1a1a18;
}
#temp-block-9 .content .inside {
    font-size: 16px;
}
#temp-block-10 {
    background-image: url(../img/blockshoes9.jpg);
    background-size: cover;
    height: 565px;
    background-attachment:fixed;
}
#temp-block-11 .content{
    margin: 60px 0;
    text-align: center;
}
#temp-block-11 h1{
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}
#temp-block-11 .content .form{
    margin: auto;
    padding: 0 7px;
}
#temp-block-11 ul{
    padding: 0;
    list-style-type: none;
}
#temp-block-11 ul li{
    padding-bottom: 30px;
}
#temp-block-11 ul li input{
    background: #f2f2f2;
    color: #CEC5C0;
    width: 100%;
    height: 65px;
    border: 1px solid #494848;
    color: #999898;
    font-size: 20px;
    line-height: 1.429;
}
#temp-block-11 ul li button{
    color: #e2e7e2;
    display: inline-block;
    padding: 20px 60px 16px;
    font-size: 22px;
    background: #4a8f41;
    border: none;
    border-bottom: 4px solid #3b8032;
    letter-spacing: 3.19px;
}
#temp-block-11 ul li button:hover {
    transition-duration: 0.3s;
    color: #4a8f41;
    background: #e2e7e2;
}
#temp-block-11 ul li input{
    padding: 15px;
}
#temp-block-11 ul li input:focus, #temp-block-11 ul li button:focus {
    outline: none;
}
#temp-block-12{
    color: #f2f2f2;
    background-image: url(../img/section/bg-section-12.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
#temp-block-12 h1{
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: 45px;
    text-align: center;
}
#temp-block-12 .text {
    font-size: 22px;
}
#temp-block-12 .module{
    margin: 50px 0;
}
#temp-block-13{
    background-color: #1a1a18;
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
}
#temp-block-13 .content{
    padding: 20px 7px;
}
#temp-block-13 .content .text{}
#temp-block-13 .content .social{}

/* Pratt Landing page css http://blacktie.co/demo/pratt/assets/css/main.css */
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #34495e;
    padding-top: 60px;
}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;

}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white
}

/* intro Wrap */

#intro {
    padding-top: 50px;
    border-top: #bdc3c7 solid 5px;
}

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features .ac a{
    font-size: 20px;
}

/* Showcase Wrap */

#showcase {
    display: block;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#showcase h1 {
    color: white;
}

#footerwrap {
    background-color: #2f2f2f;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */

#c {
    background: #222222;
    padding-top: 15px;
    text-align: center;
}

#c p {
    color: white
}


/* Pratt Landing page css http://blacktie.co/demo/pratt/assets/css/main.css */
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #34495e;
    padding-top: 60px;
}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;

}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white
}

/* intro Wrap */

#intro {
    padding-top: 50px;
    border-top: #bdc3c7 solid 5px;
}

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features .ac a{
    font-size: 20px;
}

/* Showcase Wrap */

#showcase {
    display: block;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#showcase h1 {
    color: white;
}

#footerwrap {
    background-color: #2f2f2f;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */

#c {
    background: #222222;
    padding-top: 15px;
    text-align: center;
}

#c p {
    color: white
}

